footer
  .container.text-center
    p.pull-left © 2015 Oasis Websoft, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/raindolf/funza') Open Source
      li
        a(href='http://oasi