extends layout

block content
  h1 Education for all!!
  hr
  <img src="/images/girl.jpg" alt="african girl" width="555" height="200">
  .row
    .col-sm-6
      h2 About
      p Funza is a short form of Kujifunza which means learn in Swahili. It is a web platform that will provide electronic books , information and relevant content in three languages namely English , french and swahili to educate the masses in Africa.
      p
        a.btn.btn-default(href='#', role='button') Read more »
    .col-sm-6
      h2 Mission
      p  Our mission is to improve literacy and human development indexes for Africa and other developing nations by transforming education with affordable technology.
      p
        a.btn.btn-default(href='#', role='button') # »
    